@font-face {
  font-family: "SharpGroteskSemiBold";
  src: url("/fonts/sharp-groteskSemiBold20.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "SharpGroteskLight";
  src: url("/fonts/SharpGrotesk-Light20.otf") format("opentype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "SharpGroteskMedium";
  src: url("/fonts/SharpGrotesk-Medium20.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "SharpSans";
  src: url("/fonts/SharpSans.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SharpSansBold";
  src: url("/fonts/SharpSansBold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "SharpSansMedium";
  src: url("/fonts/SharpSansMedium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "SharpSansSemibold";
  src: url("/fonts/SharpSansSemibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
