$sz-14: 0.875rem; // 14px
$sz-16: 1rem; // 16px
$sz-18: 1.125rem; // 18px
$sz-20: 1.25rem; // 20px
$sz-22: 1.375rem; // 22px
$sz-26: 1.625rem; // 26px
$sz-28: 1.75rem; // 28px
$sz-30: 1.875rem; // 30px
$sz-36: 2.25rem; // 36px
$sz-48: 3rem; // 48px
$sz-64: 4rem; // 64px
$sz-72: 4.5rem; // 72px
$sz-140: 8.75rem; // 140px

$ft-sz-11: 11px; // 11px
$ft-sz-12: 12px; // 12px
$ft-sz-14: 0.875rem; // 14px
$ft-sz-16: 1rem; // 16px
$ft-sz-18: 1.125rem; // 18px
$ft-sz-20: 1.25rem; // 20px
$ft-sz-22: 1.375rem; // 22px
$ft-sz-24: 24px; // 22px
$ft-sz-26: 1.625rem; // 26px
$ft-sz-28: 1.75rem; // 28px
$ft-sz-30: 1.875rem; // 30px
$ft-sz-32: 32px; // 30px
$ft-sz-36: 2.25rem; // 36px
$ft-sz-42: 42px; // 36px
$ft-sz-48: 3rem; // 48px
$ft-sz-64: 4rem; // 64px
$ft-sz-72: 4.5rem; // 72px
$ft-sz-140: 8.75rem; // 140px
