@use "sizes" as sz;

.section-footer {
  background-color: #1e0825;
  .footer-wrapper {
    max-width: 1150px;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    gap: 40px;
    padding: 30px 20px 0px;

    > :first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: sz.$ft-sz-14;
      font-family: "Outfit", sans-serif;
      .logo {
        font-family: "Outfit", sans-serif;
        font-size: sz.$ft-sz-24;
        margin-top: 5px;
      }
      .contact-wrapper {
        display: flex;
        gap: 100px;
        .contact {
          a {
            font-size: sz.$ft-sz-16;
            font-weight: bold;
            line-height: 1.2;
            display: flex;
            align-items: center;
            .contact-ico {
              font-size: sz.$ft-sz-14;
              margin-right: 10px;
              line-height: 1;
            }
            &:hover {
              transition: all 0.3s ease-in;
              color: #0099ff;
            }
          }
        }
      }
    }
    .msg-end {
      margin-left: 20px;
      p {
        font-size: sz.$ft-sz-12;
        opacity: 0.8;
      }
      div {
        cursor: pointer;
        margin-top: 5px;
        font-size: sz.$ft-sz-18;
        display: flex;
        align-items: center;
        gap: 10px;
        :last-child {
          font-size: sz.$ft-sz-20;
          margin-top: 2px;
        }
        .ico-footer {
          opacity: 0.5;
          &:hover {
            transition: all 0.3s ease-in;
            opacity: 1;
            color: #0099ff;
          }
        }
      }
    }
    .end-page {
      border-top: 1px solid #ffffff28;
      font-size: sz.$ft-sz-11;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      padding: 20px 0px;
      a {
        text-decoration: underline;
        &:hover {
          color: #ff6e01;
        }
      }
      .developer {
        text-transform: uppercase;
        display: flex;
        gap: 10px;
        font-weight: 300;
        a {
          text-decoration: none;
          font-weight: 300;
          color: #0099ff;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .section-footer {
    .footer-wrapper {
      gap: 20px;
      > :first-child {
        flex-direction: column;
        .logo {
          margin-bottom: 30px;
          font-weight: bold;
        }
        .contact-wrapper {
          gap: 30px;
          .contact {
            a {
              margin-bottom: 20px;
              font-weight: 300;
            }
          }
        }
      }
      .msg-end {
        margin-left: 0px;
      }
      .end-page {
        flex-direction: column;
        .developer {
          font-size: 10px;
        }
      }
    }
  }
}
