.section-home-header {
  z-index: 2;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;

  .header-wrapper {
    width: 720px;
    padding: 6px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #ffffff;
    box-shadow: 0 8px 40px #00000014;
    border-radius: 40px;

    div {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .logo {
        font-size: 30px;
        margin-left: 20px;
        font-family: "Outfit", sans-serif;
        font-weight: 800;
      }

      nav {
        display: flex;
        gap: 15px;

        a {
          padding: 10px;
          font-size: 14px;
          border-radius: 20px;
          &:hover {
            background-color: #0099ff;
            color: aliceblue;
            transition: all 0.3s ease-in;
          }
        }
      }
    }

    .bar-open {
      display: none;
    }
  }
}

@media (max-width: 550px) {
  .section-home-header {
    .menu-bg-grey {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.2);
      display: none;
      z-index: 1;
      &.active {
        display: block;
      }
    }
    .header-wrapper {
      z-index: 2;
      div {
        nav {
          display: none;
          position: absolute;
          flex-direction: column;
          right: 55px;
          top: 55px;
          opacity: 0;
          transition: all 0.3s ease-in-out;
          border-radius: 10px;
          gap: 6px;

          &.active {
            display: flex;
            transform: translateX(0);
            opacity: 1;
          }

          a {
            z-index: 10;
            text-align: center;
            border: 1px solid #eaecf3;
            background-color: #ffffff;
            padding: 10px;
          }
        }
      }

      .bar-open {
        cursor: pointer;
        width: 40px;
        display: flex;
        font-size: 28px;
        color: #333;
        margin-right: 20px;
      }
    }
  }
}
