@use "sizes" as sz;
/* MAIN */
.section-home-hero {
  color: #1e0825;
  width: 100%;
  padding: 20px;
  background-color: #f7f7f7;
  background-image: linear-gradient(#f6f8ff, #f6f8ff 87%, #fff);
  > :first-child {
    max-width: 1000px;
    margin: auto;
    main {
      padding: 180px 0px 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        text-align: center;
        font-size: 72px;
        line-height: 1.15;
        font-family: "Outfit", sans-serif;
        background-image: linear-gradient(to right, #4b83ff, #0099ff);
        background-clip: text;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
      p {
        margin-top: 34px;
      }
      .pgf-small {
        max-width: 680px;
        text-align: center;
        margin-top: 10px;
        font-size: sz.$ft-sz-16;
        color: #ff6e01;
      }
      .button {
        margin-top: 34px;
        padding: 16px 28px;
        font-size: sz.$ft-sz-16;
      }
    }
  }
}
@media (max-width: 800px) {
  .section-home-hero {
    > :first-child {
      main {
        padding: 120px 0px 50px;
        h1 {
          font-size: 64px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .section-home-hero {
    > :first-child {
      main {
        padding: 100px 0px 30px;
        h1 {
          font-size: 54px;
          line-height: 1.17;
        }
        p {
          margin-top: 24px;
        }
        .pgf-small {
          line-height: 1.2;
          font-size: 14px;
          max-width: 320px;
        }
        .button {
          margin-top: 28px;
          padding: 12px 20px;
          font-size: 16px;
        }
      }
    }
  }
}

/* FIRST ACTION */
.section-firstaction {
  background-color: #ffffff;
  padding: 50px 20px;
  .firstaction-wrapper {
    width: 100%;
    max-width: 1280px;
    padding: 80px 20px;
    margin: auto;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    @media (max-width: 800px) {
      .firstCard-wrapper {
        flex-direction: column;
      }
    }
    .firstCard-wrapper {
      display: flex;
      justify-content: center;
      gap: 20px;

      div {
        cursor: default;
        width: 100%;
        max-width: 300px;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.05);
        border: 1px solid #eaecf3;
        &:hover {
          transition: all 0.3s ease-in;
          border: 1px solid #0099ff;
          transform: scale(1.01);
          .ico-first {
            transition: all 0.3s ease-in;
            color: #0099ff;
          }
        }
        .ico-first {
          color: #eeeeee;
          font-size: sz.$ft-sz-140;
          margin-bottom: 15px;
          &.tree {
            font-size: 115px;
            margin: 15px 0px 25px;
          }
        }
        h3 {
          color: #333;
          margin-bottom: 18px;
          font-size: sz.$ft-sz-20;
        }
        p {
          font-size: sz.$ft-sz-16;
          text-align: left;
          color: #718096;
        }
      }
    }
    a {
      margin-top: 30px;
      width: 280px;
      font-size: sz.$ft-sz-16;
      background-color: #ff6e01;
      &:hover {
        background-color: #ffffff;
      }
    }
    @media (max-width: 500px) {
      .firstCard-wrapper {
        div {
          .ico-first {
            color: #0099ff;
          }
        }
      }
      a {
        font-size: 14px;
      }
    }
  }
}

/* BENEFITS FIRST */

.section-benefits {
  background-color: #ffffff;
  padding: 50px 20px;

  .benefits-wrapper {
    width: 100%;
    max-width: 1000px;
    padding: 80px 20px;
    margin: auto;
    border-radius: 16px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    .benefit-media,
    .benefit-content {
      width: 80%;
      max-width: 420px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
    .benefit-media {
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #eaecf3;
      box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.05);
    }
    .benefit-content {
      text-align: left;
      span {
        width: 100%;
        margin-bottom: 16px;
        h3 {
          display: flex;
          align-items: center;
          font-size: sz.$ft-sz-28;
          font-weight: 500;

          .benefits-ico {
            margin-right: 10px;
            margin-left: 10px;
            width: 36px;
          }
        }
      }
      p {
        opacity: 0.6;
        font-size: sz.$ft-sz-16;
        letter-spacing: 1px;
        font-weight: 300;
      }
    }
  }
}
@media (max-width: 800px) {
  .section-benefits {
    padding: 20px 16px;
    .benefits-wrapper {
      flex-direction: column;
      padding: 20px 16px;
      .benefit-media,
      .benefit-content {
        width: 90%;
        max-width: 560px;
      }
      .benefit-media {
        order: 1;
      }
      .benefit-content {
        order: 2;
      }
    }
  }
}

/* AUTOMATION */
.section-automation {
  background-color: #ffffff;
  padding: 50px 20px;
  .automation-wrapper {
    width: 100%;
    max-width: 1280px;
    padding: 80px 20px;
    margin: auto;
    border-radius: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    .celular-content {
      display: flex;
      align-items: center;
      gap: 70px;
      .celular-wr {
        position: relative;
        .circle {
          top: 70px;
          left: 30px;
          position: absolute;
          display: block;
          width: 90px;
          height: 90px;
          // background-image: linear-gradient(to right, #4b83ff, #0099ff);
          background-image: linear-gradient(to right, #ff754b, #ff9900);
          border-radius: 50%;
          &.right {
            top: 150px;
            left: 190px;
            width: 150px;
            height: 150px;
          }
          &.bottom {
            top: 350px;
            width: 250px;
            height: 250px;
            // background-image: linear-gradient(to left, #4b83ff, #0099ff);
            background-image: linear-gradient(to left, #ff754b, #ff9900);
          }
        }
        .celular {
          position: relative;
          overflow: hidden;
          width: 360px;
          height: 600px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 580px;
            z-index: 1;
          }
          .player-demo {
            display: block;
            position: absolute;
            background-color: #0099ff;
            width: 215px;
            height: 495px;
            border-radius: 10px;
          }
        }
      }
      .bth-demo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        button {
          cursor: pointer;
          width: 200px;
          padding: 14px 20px;
          background-color: #fff;
          border-radius: 15px;
          border: 1px solid #d6d6d6;
          box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.05);
          &.check {
            background-color: #1e0825;
            color: #fff;
          }
          &:hover {
            transition: all 0.3s ease-in;
            background-color: #1e0825;
            color: #fff;
          }
        }
        img {
          width: 140px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .section-automation {
    padding: 20px 14px;
    .automation-wrapper {
      .celular-content {
        gap: 10px;
        flex-direction: column;
        .bth-demo {
          gap: 8px;
        }
      }
    }
  }
}

/* STEPS */
.section-steps {
  position: relative;
  padding: 50px 20px;
  background-color: #fff;
  background-image: linear-gradient(#f7f7f7 63%, #ffffff 63%);

  .steps-wrapper {
    width: 100%;
    max-width: 1280px;
    padding: 80px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    text-align: center;
    gap: 30px;

    h2 {
      max-width: 1000px;
      text-align: center;
      font-size: 72px;
      line-height: 1.15;
      font-family: "Outfit", sans-serif;
      background-image: linear-gradient(to right, #4b83ff, #0099ff);
      background-clip: text;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
    .frs {
      color: #333;
      opacity: 0.9;
      margin-bottom: 20px;
      font-size: sz.$ft-sz-22;
    }
    .card-step-wr {
      background-color: #fff;
      max-width: 900px;
      display: flex;
      flex-direction: row;
      gap: 20px;
      .step-card {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 280px;
        padding: 26px;
        border-radius: 10px;
        box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.05);
        border: 1px solid #eaecf3;

        span {
          flex-shrink: 0;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 20px;
          font-size: sz.$ft-sz-16;
          font-weight: 500;
          background-color: #ff6e01;
          color: aliceblue;
        }
        .step-card-wr {
          margin-left: 16px;
          text-align: left;
          h4 {
            width: 100%;
            margin-bottom: 10px;
            font-size: sz.$ft-sz-18;
            font-weight: 400;
          }
          p {
            font-size: sz.$ft-sz-14;
            opacity: 0.6;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .section-steps {
    .steps-wrapper {
      h2 {
        font-size: 64px;
        line-height: 1.17;
      }
      .frs {
        font-size: 18px;
      }
      .card-step-wr {
        flex-direction: column;
        .step-card {
          padding: 18px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .section-steps {
    .steps-wrapper {
      h2 {
        font-size: 40px;
      }
      .frs {
        font-size: 16px;
        line-height: 1.2;
      }
    }
  }
}

/* PRICES */
.section-prices {
  position: relative;
  padding: 50px 20px;
  background-color: #f7f7f7;
  background-image: linear-gradient(
    -175deg,
    #ffffff,
    #ffffff 40%,
    #f7f7f7 40%,
    #fff 90%
  );
  .prices-wrapper {
    width: 100%;
    max-width: 1280px;
    padding: 80px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    text-align: center;
    gap: 30px;
    h2 {
      margin-bottom: 34px;
    }
    .destaque {
      color: #0099ff;
      font-weight: 600;
    }
    .price-cards-wr {
      display: flex;
      gap: 20px;
      > :first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 350px;
        font-size: sz.$ft-sz-30;
        font-weight: 600;
        padding: 20px;
        color: #5f5e5f;
        > span {
          .price-ico {
            margin-right: 10px;
            font-size: sz.$ft-sz-64;
          }
        }
      }
      > :nth-child(2) {
        display: flex;
        gap: 20px;
        .price-card {
          background-color: #fff;
          cursor: default;
          overflow: hidden;
          position: relative;
          width: 320px;
          padding: 24px 24px 48px;
          border-radius: 10px;
          border: 1px solid #eaecf3;
          box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.05);
          transition: all 0.3s ease-in;
          &:hover {
            transform: scale(1.01);
          }
          h3 {
            font-weight: 300;
            font-size: sz.$ft-sz-26;
            padding: 20px;
          }
          .prices-prices {
            padding: 10px 0px 20px;
            border-top: 1px dashed rgba(31, 45, 61, 0.5);
            border-bottom: 1px dashed rgba(31, 45, 61, 0.5);
            p {
              font-size: sz.$ft-sz-14;
              color: #333;
            }
            span {
              font-size: sz.$ft-sz-36;
            }
            > :last-child {
              color: #718096;
            }
          }
          .resp {
            font-size: sz.$ft-sz-14;
            opacity: 0.75;
            padding: 20px 0px 40px;
            font-weight: 300;
            color: #ff6e01;
            opacity: 0.98;
          }
          .prices-flag {
            background-color: #ff6e01;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 360px;
            padding: 18px 0px 8px;
            font-size: sz.$ft-sz-12;
            top: -10px;
            left: -20px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 500;
          }
        }
      }
    }
    @media (max-width: 1117px) {
      h2 {
        margin-bottom: 0px;
      }
      .price-cards-wr {
        flex-direction: column;
        align-items: center;
        > :first-child {
          max-width: 680px;
          color: #333;
          opacity: 0.9;
          margin-bottom: 20px;
          font-size: sz.$ft-sz-22;
          > span {
            .price-ico {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .section-prices {
    .prices-wrapper {
      .price-cards-wr {
        > :first-child {
          font-size: 18px;
        }
        > :nth-child(2) {
          flex-direction: column;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .section-prices {
    .prices-wrapper {
      gap: 20px;
      .price-cards-wr {
        > :first-child {
          font-size: 16px;
          line-height: 1.2;
          font-weight: 400;

          padding: 0;
        }
        > :nth-child(2) {
          .price-card {
            width: 300px;
          }
        }
      }
    }
  }
}

/* SECOND ACTION */
.section-secondaction {
  position: relative;
  padding: 50px 20px;
  .secondaction-wrapper {
    width: 100%;
    max-width: 1280px;
    padding: 80px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    text-align: center;
    gap: 30px;
    h2 {
      background-image: linear-gradient(to right, #4b83ff, #0099ff);
      font-size: sz.$ft-sz-48;
    }
    a {
      font-size: sz.$ft-sz-18;
    }
  }
}
@media (max-width: 800px) {
  .section-secondaction {
    padding: 0px 20px;
    .secondaction-wrapper {
      a {
        font-size: 16px;
        padding: 10px 20px;
      }
    }
  }
}

@media (max-width: 500px) {
  .section-secondaction {
    .secondaction-wrapper {
      h2 {
        font-size: 36px;
        line-height: 1.17;
      }
      a {
        font-size: 14px;
      }
    }
  }
}
